* {
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  background-color: black;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(218, 218, 218);
  border-radius: 50px;
}

.btn img {
  width: 50px;
  transition: opacity 0.5s, visibility 0.5s;
}

html {
  scroll-behavior: smooth;
}

.btn {
  background-color: rgb(0, 0, 0);
  width: 50px;
  border-radius: 15px;
  border: solid white 2px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.btn.active {
  opacity: 1;
  pointer-events: auto;
}

.btn:hover {
  background-color: rgb(32, 32, 32);
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

header img {
  width: 150px;
}

#menu1 {
  display: flex;
  gap: 50px;
  margin-right: 80px;
}

#menu2 {
  display: flex;
  gap: 50px;
  margin-left: 80px;
}

header a {
  color: gray;
  font-weight: bold;
}

header a {
  position: relative;
  transition: 0.3s;
}

header a:not(.not):after {
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

header a:hover {
  color: white;
  transform: scale(1.2);
}

header a:hover:after {
  width: 100%;
}

.not:hover {
  transform: scale(1.3);
}

.not {
  transition: 0.3s;
}

/* MAIN */

#card img {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-30deg);
  z-index: 1;
  transition: 0.5s;
  width: 15%;
  translate: -49% -64%;
}

#card:hover img {
  transform: rotate(-30deg) scale(1.2);
  transition: transform 0.5s ease;
}

#center {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  position: relative;
}

#card {
  display: flex;
  color: white;
  gap: 30px;
  flex-direction: column;
  width: 70%;
  border: solid 2px white;
  border-radius: 40px;
  padding: 50px;
  position: relative;
  background-color: black;
}
#card a {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  font-weight: bold;
  border: solid white 2px;
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13.5px;
  transition: 0.5s;
}
#card a:hover {
  transform: scale(1.1);
  background-color: rgb(255, 255, 255);
  color: black;
}
#card h1 {
  font-size: 30px;
  font-weight: bold;
}

#card h3 {
  font-size: 20px;
  border: solid 2px;
  width: 180px;
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.908);
  font-weight: bold;
  border-radius: 20px;
  color: black;
}
#card p {
  text-align: justify;
}

.cit {
  padding: 5% 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cit hr {
  width: 100%;
  margin: 50px 0 50px 0;
}

.animated-text {
  /* padding: 50px 0 50px 0; */
  overflow: hidden;
  color: white;
  height: 60px;
}

.line {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.line:first-child {
  animation: anim 12s infinite;
}

@keyframes anim {
  0% {
    margin-top: 0;
  }
  16% {
    margin-top: -60px;
  }
  33% {
    margin-top: -120px;
  }
  50% {
    margin-top: -180px;
  }
  66% {
    margin-top: -120px;
  }
  82% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0;
  }
}

#formations h2 {
  font-size: 35px;
  padding-bottom: 20px;
  font-weight: bold;
}
.formation-centre {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  width: 72%;
}
#reverse {
  display: flex;
  justify-content: center;
}

#formations {
  display: flex;
  color: white;
  flex-direction: column;
  position: relative;
}

.ligne {
  width: 33%;
  position: absolute;
  right: 0;
  top: 550px;
  z-index: -1;
}

.ligne2 {
  width: 46%;
  position: absolute;
  right: 13%;
  bottom: -10%;
  z-index: -1;
}

.ligne3 {
  width: 42%;
  position: absolute;
  bottom: 33%;
  left: 3%;
  z-index: -1;
}

.ligne4 {
  width: 16%;
  position: absolute;
  left: 40%;
  top: 46%;
  z-index: -1;
  rotate: -10deg;
}

#center2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 70px;
  justify-content: center;
}
#mds {
  border: solid 2px white;
  border-radius: 40px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 390px;
  height: 350px;
  align-items: center;
  transition: 0.2s;
  background-color: black;
}
#mds:hover {
  background-color: rgb(24, 24, 24);
}
#mds img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 20px;
  animation: scaleRotate 4s infinite;
}

@keyframes scaleRotate {
  0%,
  33% {
    /* L'animation se déroule sur les premiers 33% du temps */
    transform: scale(1) rotate(0deg);
  }
  0% {
    /* Point culminant de l'animation à 1 seconde */
    transform: scale(1.1) rotate(360deg);
  }
  33.1%,
  100% {
    /* Pause pour le reste du temps */
    transform: scale(1) rotate(0deg);
  }
}

#mds-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  font-size: 16px;
}
#lpo {
  border: solid 2px white;
  border-radius: 40px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 390px;
  height: 350px;
  align-items: center;
  transition: 0.2s;
  background-color: black;
}
#lpo:hover {
  background-color: rgb(24, 24, 24);
}
#lpo-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  font-size: 16px;
}
#lpo img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 20px;
  animation: scaleRotate 4s infinite;
}
#experiences {
  padding-top: 100px;
  display: flex;
  color: white;
  flex-direction: column;
  position: relative;
}
#experiences-centre {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  width: 72%;
}
#experiences h2 {
  font-size: 35px;
  padding-bottom: 20px;
  font-weight: bold;
}
#reverse2 {
  display: flex;
  justify-content: center;
}

#center3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-bottom: 100px;
}
#its img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 20px;
  transition: 0.2s;
  animation: scaleRotate 4s infinite;
}
#its {
  border: solid 2px white;
  border-radius: 40px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 390px;
  height: 350px;
  align-items: center;
  background-color: black;
}
#its:hover {
  background-color: rgb(24, 24, 24);
}
#its-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  font-size: 16px;
}
#lidl-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  font-size: 16px;
}
#Lidl {
  border: solid 2px white;
  border-radius: 40px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 390px;
  height: 350px;
  align-items: center;
  transition: 0.2s;
  background-color: black;
}
#Lidl:hover {
  background-color: rgb(24, 24, 24);
}
#Lidl img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 20px;
  animation: scaleRotate 4s infinite;
}

#center4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-bottom: 100px;
}
